<article class="row">
       <div class="col-md-12 prod-title"><h1 itemprop="name" title="Bright Yellow and Cream Art Silk Saree with Blouse">Bright Yellow and Cream Art Silk Saree with Blouse</h1><a id="idesc" role="tab">Click here for Material, size, fit &amp; complete product details</a></div>
	</article>

		<article class="row">
            	<div class="col-md-8 price-container">
                    <div id="mmprice" class="price"><span><span style="" id="otherprice" class="other-price"><u style="text-decoration:none;font-family: Rupee Foradian;">£</u>16.35</span><span style="display:none" id="OthrPrice">£ 16.35</span></span><span id="mainprice2" itemprop="price">$25.00</span><span style="display:none" id="mainprice">$25.00</span></div>
           		 <div>
                 <p class="charging-up">**Payment will be charged in USD. Currency conversion is for reference only.</p>
				<div class="ship-detail"><div class="truck1-icon pip-sprite"></div>This Item Ships for $13.99  | <a onclick="saveOnShipNew()">Save on Shipping</a></div>
                	
                    <div class="shipping-time">
                        <div class="col-md-12">
                            <label>
                            <div class="pip-sprite time-icon"></div>
                            Time to Ship: <b>15 day(s)</b>
                            </label>
                            <span></span>
                        </div>
                    </div>
           		 </div>
                    
                </div>
                <div class="col-md-4 center-text top-gap">
                	<div class="freeshipping-tag">
                    	<div class="pip-sprite freeship-icon"></div>
                        Free Shipping*
                    </div>
                </div>
                <div class="col-md-12 bag-fix center-text">
                    <div class="btn shop-btn">ADD TO BAG</div>
                    <div class="btn view-btn">View Product</div>
                    <div class="btn pip-sprite pip-wl-btn"></div>
                </div>
            </article>